@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
    font-family: "Nunito";
}

h1.main {
    font-family: "Nunito";
    font-size: 4.5rem;
    font-weight: normal;
}

p.main {
    font-family: "Nunito";
    color: white;
    font-size: 2rem;
    margin-left: 10px;
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: black;
}

img.feature-image {
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    max-width: 300px;
    height: 200px;
}

#pricing div:hover {
    cursor: pointer;
}
